.city-tile {
  margin: 1rem;
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: gray;
  width: 170px;

  .city-name {
    text-align: center;
  }
  .temp {
    text-align: center;
  }

  img {
    height: 100px;
  }

  a {
    color: black;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    text-decoration: none;
    display: inline-block;
    transition: all 200ms ease-in;
    transform: scale(1);

    img:hover {
      transition: all 200ms ease-in;
      transform: scale(1.5);
    }
  }
}




